<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KIA EV - 테스트</title>
</head>
<body style="margin:0; padding:0;">

    <th:block th:replace="~{common/header :: header}"></th:block>

    <main style="width: 1200px; margin: 0 auto; min-height: 600px; padding-top: 100px; text-align: center;">
        <div style="padding: 50px; border: 2px dashed #ccc; border-radius: 20px;">
            <h1 style="font-size: 40px; color: #05141f;">[ 여기는 페이지명 입니다 ]</h1>
            <p style="font-size: 18px; color: #666; margin-top: 20px;">
                프로모션
            </p>
        </div>
    </main>

    <th:block th:replace="~{common/footer :: footer}"></th:block>

</body>
</html>